@mixin flexCenterColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
  @include flexCenterColumn;
  background-color: #f8f8f8;
}

.box {
  @include flexCenterColumn;
  width: 350px;
  height: 400px;
  margin-top: 100px;
  border: 1px solid #d8d8d8;
  background-color: white;

  @mixin flexCenterColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .title {
    padding-top: 30px;
    margin-bottom: 40px;
    margin-top: 30px;
    font-size: 40px;
    font-family: 'Lobster', cursive;
    color: #464646;
  }

  a {
    margin-top: 60px;
    margin-bottom: 30px;
    font-size: 12px;
    font-weight: 600;
    color: #3c5075;
    text-decoration-line: none;
  }
}
