@media (max-width: 800px) {
  .mobile {
    display: none;
  }
}

$context-size: 15px;

body {
  display: block;
  width: 100%;
  background-color: #f8f8f8;
}

.profilePopUp {
  display: none;
  position: absolute;
  right: 170px;
  width: 200px;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 10px;
  z-index: 10;

  .profileList {
    font-size: $context-size;
    margin: 15px;

    .profileMenu {
      display: flex;
      align-items: center;
      margin-top: 20px;

      .profileIcon {
        position: relative;
        width: 20px;
      }

      .profileText {
        margin-left: 10px;
        font-size: $context-size;
      }

      .profile_logOut {
        border-top: 1px solid lightgray;
        padding-top: 15px;
        padding-bottom: 5px;
      }
    }
  }
}

main {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 90px;
  z-index: 1;
}

section {
  width: 500px;
  display: flex;
  flex-direction: column;
}

article {
  width: 500px;
  background-color: white;
  border: 1px solid lightgray;
}

.mobile {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  width: 300px;
}
