@import '../../../styles/mixin.scss';
* {
  box-sizing: border-box;
}
html {
  width: 100%;
  height: 50vh;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #fafafa;
}

.ulStyle {
  list-style: none;
}

main {
  display: flex;
  justify-content: center;
  .recomment {
    width: 50px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .name {
    margin-right: 10px;
  }
  .mainRight {
    width: 100%;
    margin-right: 20px;
  }
  .circle {
    @include circle(flex);
  }
  .storyAll {
    display: flex;
    justify-content: space-between;
  }
  .storyBox {
    background-color: white;
    border: 2px solid #dbdbdb;
    border-radius: 10px;
  }
  .storyLiBox {
    display: flex;
    align-items: center;
    line-height: 5px;
    img {
      width: 90px;
    }
    .storyLiBox p:nth-child(2) {
      color: gray;
    }
  }
  img {
    @include circle(flex);
  }
  .mainRight {
    width: 280px;
    .mainRightProfile {
      display: flex;
      align-items: center;
      margin-top: 90px;
      img {
        width: 100px;
      }
      .mainRightProfileText p:nth-child(2) {
        color: gray;
        line-height: 5px;
      }
    }
  }
}

@media (max-width: 900px) {
  .mainRight {
    display: none;
  }
}
