* {
  box-sizing: border-box;
}

body {
  background-color: #f8f8f8;
}

button {
  background: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer;
}

a {
  font-weight: bold;
  text-decoration-line: none;
  color: #000;
}
