@import '../../../../styles/mixin.scss';
@import '../../../../styles/variables.scss';

.feeds {
  padding: 150px;

  .feedsLike {
    display: flex;
    flex-direction: column;
    .feedsImg {
      width: 800px;
    }
    .circle {
      @include circle(flex);
    }
    .feedsProfileLike {
      display: flex;
      align-items: center;
    }
  }
}

.feedsDiv {
  .feedsProfile p {
    font-size: 20px;
  }
  .feedsProfile span {
    color: gray;
    font-size: 15px;
    font-weight: 700;
  }
}

.feedsicon {
  display: flex;
  justify-content: space-between;
  .heartColor {
    color: tomato;
  }
}

.bootcampDescribed span:nth-child(1) {
  font-weight: bold;
}

.addComment {
  width: 70%;
  height: 50px;
  border: none;
}

.commentButton {
  width: 27%;
  height: $middleSize;
  border: none;
  border-radius: 20px;
}

.feedsProfileImg {
  width: 100px;
}
